.h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    Color:rgb(15, 14, 14);
    text-align: center;
  }


.yazi{
    background-color: thistle;
    padding-left: 30px;
    padding-right: 20px;
    color:chocolate;
}

#hero{
    height: 600px;
}

.shr
{
    padding: 20px;
}
.carousel-item{
    height: 430px;
}